{% extends 'TeacherBundle::layout/layout.html.twig' %}
{% block title %} Trang tài nguyên cá nhân {{user.fullname}}{% endblock %}

{% block navbar %}
    {{ render(controller('TeacherBundle:Default:navbar',{ 'user': user })) }} 
{% endblock %}
{% set mainController = 'schoolManagerController' %}
{% block content %}
    <div class="container-fluid">
    <div class="col-lg-3 container-fluid">
        {{ render(controller('TeacherBundle:Default:profile')) }} 
        {{ include('TeacherBundle::schoolManager/side.html.twig', { 'user': user }) }}
    </div>
    <div class="col-lg-7 container-fluid" ng-cloak >
        {{ include('TeacherBundle::schoolManager/schools.html.twig', { 'user': user }) }}
    </div>
    <div class="col-lg-2 container-fluid" ng-cloak >
       {{ include('TeacherBundle::schoolManager/ads.html.twig', { 'user': user }) }}
    </div>
    </div>
{% endblock %}
{% block footer %}
    {{ render(controller('TeacherBundle:Default:footer')) }} 
{% endblock %}
{% block notification %}
    {{ include('TeacherBundle::notification.html.twig', { 'user': user }) }}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    var school_id={{school.id}};
    </script>
    <script src="/js/teacher/profileController.js"></script>
    <script src="/js/teacher/{{mainController}}.js"></script>
{% endblock %}